.tree-header,
.tree-guide {
  display: flex;
  flex-direction: column;
}

.tree-header p,
.tree-guide h1 {
  margin: 20px auto;
  font-size: 20px;
  font-weight: 800;
}

.tree {
  width: 100%;
  height: 580px;
  border: 1px solid #000;
}

.node__root > circle {
  fill: red;
}

.node__branch > circle {
  fill: blue;
}

.node__leaf > circle {
  fill: green;
}

.tree-button-add {
  margin: 0 70px;
}

.tree-feature {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.tree-feature-header {
  margin: 0 auto;
  text-transform: uppercase;
}

.tree-feature-header h1 {
  font-weight: 800;
  font-size: 24px;
}

.tree-feature-content {
  display: flex;
  justify-content: flex-center;
}

.tree-feature-content-btn {
  margin: 0 30px;
  height: 40px;
}
