.register-container{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.register-container h1{
    margin: 60px auto;
    font-size: 30px;
    font-weight: 800;
}

.register-form-container {
  width: 50%;
  height: 320px;
  margin: 0 auto;
}

#normal_register {
  display: flex;
  flex-direction: column;
}

.ant-input-affix-wrapper {
  border-radius: 6px;
}

.ant-input-affix-wrapper > input {
  height: 38px;
}

.register-form-button {
  height: 44px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  background-color: #1990ff;
}

.register-form-forgot {
  text-align: center;
  color: #1990ff;
}
